@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

body {
    background: #20272f;
}

.m-t-100 {
    padding-top: 100px;
}

.bg-blur {
    backdrop-filter: blur(1rem);
}

.bg-img {
    background-color: #30313e;
    padding-top: 1rem;
}

.logo-size {
    width: 12rem;
}

.img-size {
    width: 9rem;
    background-color: #47af78;
    border-radius: 50%;
}

.p-size {
    font-size: 1.5rem;
    color: #fff;
}

.card {
    margin-bottom: 1.4rem;
}

.l-slide-size {
    width: 100vh;
}

.p-slide-size {
    width: fit-content;
    height: fit-content;
}

.w-35 {
    width: 35% !important;
}

.text-green {
    color: #47af78;
}

.link {
    text-decoration: none;
    color: #47af78;
    opacity: .7;
}

.link:hover {
    opacity: 1;
}

.carousel-control-prev-icon {
    background-color: #47af78;
    border-radius: 1em 0 0 1em;
}

.carousel-control-next-icon {
    background-color: #47af78;
    border-radius: 0 1em 1em 0;
}

@media (max-width:767.20px) {
    .l-slide-size {
        width: fit-content;
    }

    .w-35 {
        width: 75% !important;
    }
}

@media (max-width: 576.20px) {
    .mt-3 {
        font-size: 12px;
    }
}